<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<aop:aspectj-autoproxy />


	<bean id="loggingAspect" class="com.rajeshkawali.afterReturning.LoggingAspects"/>
		

	<!-- Definition for student bean -->
	<bean id="shapeBean" class="com.rajeshkawali.afterReturning.ShapeService" autowire="byName">
		
	</bean>

	<!-- Definition for logging aspect -->
	<bean id="triangle" class="com.rajeshkawali.afterReturning.Triangle">
		<property name="name" value="Triangle here..." />
	</bean>
	<bean id="circle" class="com.rajeshkawali.afterReturning.Circle">
		<property name="name" value="Circle here..." />
	</bean>
</beans>